/*------Reset CSS---------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    display: block;
    max-width: 100%;
}

/*------FUENTES---------*/
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

/*------GRID---------*/
.grid-container {
    display: grid;
    min-height: 100vh;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: 
        "header"
        "main"
        "footer";
}

/*------BODY---------*/
body {
    font-family: "Lato", sans-serif !important;
}

/*------HEADER---------*/
header {
    background-color: white;
    width: 100%;
}

header nav {
    grid-area: "header";
    background-color: white !important;
    width: 100%;
    height: 110%;
}

header nav ul{
    list-style: none;
    display: flex;
    justify-content: space-around;
}

header nav ul li a {
    text-decoration: none;
    font-size: 16px;
    padding: 20px;
    color: black;
}

.btn-outline-color {
    color: rgb(66, 72, 116) !important;
    border-color: rgb(220, 214, 247) !important;
}

.btn-outline-color:hover {
    background-color: rgb(220, 214, 247) !important;
    color: rgb(66, 72, 116) !important;
}

/*------MAIN---------*/
main{
    grid-area: main;
}

main h2{
    font-size: 24px;
    font-weight: 700;
    color: black;
    text-align: center;
    padding: 20px;
}

main h3 {
    font-size: 20px;
    font-weight: 400;
    color: black;
    text-align: center;
    padding: 20px;
}

/*------FOOTER---------*/
footer {
    grid-area: footer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;    
    padding: 10px;
    margin-top: 5px;
}

footer p{
    font-size: 14px;
    color: black;
}

footer a{
    text-decoration: none;
    font-size: 14px;
    color: black;
}

footer a img{
    width: 24px;
    height: 24px;
    margin-left: 10px;
}

/*------INDEX---------*/

.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 25vh;
    width: 100%;
    height: 95vh;
    background-image: url("../img/hero-section.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    object-fit: cover;
}

.hero h2 {
    font-size: 48px;
    font-weight: 700;
    color: white;
    margin-bottom: 10px;
}

.hero h3 {
    font-size: 24px;
    font-weight: 400;
    color: white;
}

.carousel-item img {
    width: 100%;
    height: 95vh;
    object-fit: cover;
}

/*------JUEGOS FAVORITOS---------*/
.grid-juegos{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    justify-items: center;
    align-items: center;
    gap: 20px;
    margin: 0px 20px;
}

.juego {
    padding: 20px;
    border: 1px solid black;
}

.juego h3 {
    font-size: 20px;
    font-weight: 700;
    color: black;
    text-align: center;
    padding: 10px;
}

.juego p {
    font-size: 16px;
    color: black;
    text-align: center;
}

.juego img {
    width: 100%;
    height: auto;
    margin-top: 10px;
}

/*------PELICULAS---------*/
.grid-peliculas {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    justify-items: center;
    align-items: center;
    gap: 20px;
    margin: 0px 20px;
}

.pelicula {
    padding: 20px;
}

.pelicula img {
    width: 100%;
    height: 600px;
    margin-top: 10px;
    object-fit: cover;
}

/*------MERCADO SKINS---------*/
.table-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 20px;
}

main table {
    width: 100%;
    border-collapse: collapse;
}

main table th, main table td {
    border: 1px solid black;
    padding: 10px;
    text-align: left;
}

main h3 {
    font-size: 20px;
    font-weight: 700;
    color: black;
}

.skins-collection {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    justify-items: center;
    align-items: center;
    gap: 20px;
    margin: 0px 20px;
}

.skins-collection img {
    width: 100%;
    max-width: 600px;
    height: auto;
    border-radius: 8px;
}



/*------CONTACTO---------*/
.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

main form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 400px;
}

main form label {
    font-size: 16px;
    color: black;
    margin-top: 10px;
}

main form input, main form textarea {
    padding: 10px;
    margin-top: 5px;
    border: 1px solid black;
    border-radius: 4px;
}

main form button {
    margin-top: 20px;
    padding: 10px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}


