/*------MAIN---------*/
main{
    grid-area: main;
    h2 {
        @include h-style(black, center, 24px, 700, 20px);
    }
    h3 {
        @include h-style(black, center, 20px, 400, 20px);
    } 
    table {
        width: 100%;
        border-collapse: collapse;
        th, td {
            border: 1px solid black;
            padding: 10px;
            text-align: left;
        }
    }
    form {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        max-width: 400px;
        label {
            font-size: 16px;
            color: black;
            margin-top: 10px;
        }
        input, textarea {
            padding: 10px;
            margin-top: 5px;
            border: 1px solid black;
            border-radius: 4px;
        }
        button {
            margin-top: 20px;
            padding: 10px;
            background-color: black;
            color: white;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            &:hover {
                background-color: #333;
                transition: background-color 0.3s ease;
            }
        }
    }
}
