/*------MERCADO SKINS---------*/
.table-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 20px;
}

.skins-collection {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    justify-items: center;
    align-items: center;
    gap: 20px;
    margin: 0px 20px;
    img {
        width: 100%;
        max-width: 600px;
        height: auto;
        border-radius: 8px;
        &:hover {
            transform: scale(1.05);
            transition: transform 0.3s ease;
        }
    }
}

